subword-nmt==0.3.8
pickle5==0.0.11
transformers==4.26.0
networkx==3.0
wget==3.2
biotite==0.36.1
torch==1.12.1
scikit-learn==1.2.1
matplotlib==3.6.3
pandas=1.5.3
tensorflow==2.11.0
tensorboardX=2.5.1
biopython==1.80
seaborn==0.12.1
obonet==0.3.1
gemmi==0.5.8
tfrecord==1.14.1
torchvision=0.13.1
lightgbm==3.3.5
xgboost==1.7.3
scipy==1.10.0
Cartopy==0.21.1
BeautifulSoup4==4.11.1
requests==2.24.0